
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/img/car1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
     overflow: hidden; 
     
}

nav{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{

    margin-left: 18px;
    margin-top: 30px;
    cursor: pointer;

}
nav ul{
    margin-top: 50px;
    flex: 1;
    text-align: center;

}
nav ul li{
    
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    margin-top: 50px;
    text-decoration: none;
    color: black;

}
nav .btn{
    margin-top: 30px;
    color: black;
    text-decoration: none;
    margin-right: 18px;
    padding: 10px;

}

.content h2{
    margin-top: 80px;
    text-align: center;
    font-size: 47px;
    font-family: 'Alata', sans-serif;

}
.pa{
    text-align: center;
    margin-top: -2rem;
    margin-bottom: 7rem;
   
    
}

.links{
    position: absolute;
    margin-top: 20%;
    margin-left: 33%;
    
}  


.links .custom{
    padding: 10px 80px ;
    text-decoration: none;
    color: #fff;
    background-color: rgb(37, 37, 37);
    border-radius: 05px ;
    margin-right: 1rem;    
}
.links .demo{
    padding: 10px 80px ;
    
    text-decoration: none;
    color: black;
    background-color:#fff;
    border-radius: 05px ;
    
}

.banner {
    background-color: #fff;
    color: black;
    padding: 1px;
    text-align: center;
  }
  
  .banner-title {

    margin: 0;
    font-size: 20px;
  }
